:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 50px;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

ul {
    padding: 0px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
    font-family: inherit;
    background-color: #3481ca;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

form {
    background-color: #535bf2;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px;
    background-color: #d2d3e6;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
    color: #1a1a1a;
}

.loginBtn {
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    width: 75px;
    height: 40px;
    text-align: center;
}

.createForm {
    display: block;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

.createForm div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding: 0px;
}

.createForm p {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
}

h2 {
    margin: 0px;
    margin-bottom: 5px;
}

.blogDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #94c4f1;
    color: #080808;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: all 0.4s;
}

.blogDiv:hover {
    transform: scale(1.03);
}

.loginDiv {
    display: flex;
    flex-direction: column;
}

.blogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.deleteBtn {
    background-color: rgb(252, 99, 99);
    color: #080808;
}