<header class="contactHeader">
    <h1>Contacts</h1>
    <a href="/projects">&larr; Back</a>


</header>
<div class="socialAccounts">
    <div class="linkdin">
        <img style="width: 50px;" src="/img/linkdin.png">

        <a href="http://www.linkedin.com/in/sagar-rana-92641627b">my linkedin profile</a>
    </div>

    <div class="github">
        <img style="width: 50px;" src="/img/github.png">

        <a href="https://github.com/Leutenantrana/">my github profile</a>
    </div>
    <br class="github">
    <!-- <img style="width: 50px;" src="/img/github.png"> -->
    <br></br>
    <a href="#">connect with me  8864973891</a>
</div>
</div>