<div class="author">





    <!-- // about section -->
    <section id="about" class="landing-page">
        <div class="main-id">
            <div class="name-container">
                <h1 class="author__heading">
                    Hi I'm
                </h1>
                <h1 class="name">Sagar</h1>
                <div>
                    <h2 class="sub-heading">Software Engineer</h2>
                </div>
            </div>
            <div class="image-container">
                <img src="/img/profileImage.jpg" alt="a cool handsome man" class="profile-image">
            </div>
        </div>

        <div class="bodyA">
            <p>
                I am a passionate software developer with a focus on building scalable, efficient and user-centric solutions.
            </p>
            <br>
            <p>
                With a background in MERN STACK, I bring creative problem-solving and meticulous attention to detail to every project I undertake.
            </p>
        </div>

        <br>

        <div class="social-links">
            <div>
                <a target="_blank" title="LinkedIn" rel="noopener noreferrer" href="https://www.linkedin.com/in/ranasagar11">
                    <img src="img/linkedin.png" alt="LinkedIn">
                </a>
            </div>
            <div>
                <a target="_blank" title="GitHub" rel="noopener noreferrer" href="https://github.com/SagarRana11">
                    <img src="img/icons8-github-512.png" alt="GitHub">
                </a>
            </div>

            <div>
                <a target="_blank" title="ranasagar974@gmail.com" rel="noopener noreferrer" href="mailto:ranasagar974@gmail.com">
                    <img src="img/gmail.png" alt="Gmail">
                </a>
            </div>
            <div>
                <a target="_blank" title="Instagram" rel="noopener noreferrer" href="https://www.instagram.com/sagarrana_11">
                    <img src="img/insta.png" alt="Instagram">
                </a>
            </div>
        </div>
    </section>

    <!-- <img src="/img/profileImage.jpg" alt="a cool handsome man" class="hero-image" width="981" height="528"> -->





    <section id="skills" class="skills section-margin">
        <h3 class="waviy">
            <span style="--i: 1">S</span>
            <span style="--i: 2">K</span>
            <span style="--i: 3">I</span>
            <span style="--i: 4">L</span>
            <span style="--i: 5">L</span>
            <span style="--i: 6">S</span>
        </h3>
        <div class="body">
            <div>
                <img src="/img/javascript.png" alt="JavaScript">
                <h5>JavaScript</h5>
            </div>
            <div>
                <img src="/img/java.png" alt="Java">
                <h5>Java</h5>
            </div>

            <div>
                <img src="/img/typescript.png" alt="TypeScript">
                <h5>TypeScript</h5>
            </div>
            <div>
                <img src="/img/HTML.png" alt="HTML">
                <h5>HTML</h5>
            </div>
            <div>
                <img src="/img/css.png" alt="CSS">
                <h5>CSS</h5>
            </div>

            <div>
                <img src="/img/Tailwind.png" alt="Tailwind CSS">
                <h5>Tailwind</h5>
            </div>


            <div>
                <img src="/img/react.png" alt="React.js">
                <h5>React.js</h5>
            </div>
            <div>
                <img src="/img/node.png" alt="Node.js">
                <h5>Node.js</h5>
            </div>
            <div>
                <img src="/img/express.png" alt="Express.js">
                <h5>Express.js</h5>
            </div>

            <div>
                <img src="/img/mongo.png" alt="MongoDB">
                <h5>MongoDB</h5>
            </div>

            <div>
                <img src="/img/git.png" alt="Git">
                <h5>Git</h5>
            </div>
        </div>
    </section>



    <section id="projets" class="project-container">
        <h3 class="waviy">
            <span style="--i: 1">P</span>
            <span style="--i: 2">R</span>
            <span style="--i: 3">O</span>
            <span style="--i: 4">J</span>
            <span style="--i: 5">E</span>
            <span style="--i: 6">C</span>
            <span style="--i: 7">T</span>
            <span style="--i: 8">S</span>
        </h3>

        <div class="card-container">
            <div class="card in-view">

                <div class="content">
                    <h2>e-commerce</h2>
                    <p class="python">
                        Built a platform that allows users to intuitively browse and purchase products online. Focused on performance, security and scalability to support enterprise-level traffic.
                    </p>
                    <a target="_blank" rel="noopener noreferrer" href="https://jsprojectss.onrender.com">view&nearr;</a>
                    <br>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/SagarRana11/BACKEND__PROJECTS/tree/main/eCommerce">github</a>
                </div>


            </div>

            <div class="card in-view">

                <div class="content">
                    <span class="stars"></span>
                    <h2>Pacman</h2>
                    <p class="java">
                        Built A JavaScript-based Pac-Man game with maze navigation, pellet collection, and ghost evasion. It showcases animation, collision detection, and dynamic AI.
                    </p>
                    <a target="_blank" rel="noopener noreferrer" href="https://backend-projects-1.onrender.com/api-docs/">view&nearr;</a>
                    <br>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/SagarRana11/JSProjectss/tree/main/Pacmann">github</a>
                </div>


            </div>
        </div>
        <br>
        <br>
        <br>

        <a href="/projects">
            <h3>Browse all projects &nearr;</h3>
        </a>
    </section>


</div>










<!-- <section class="articles">
        <h2 class="articles__heading">Latest Posts</h2>

        <ul>
            <% data.forEach(post => { %>


                <li>
                    <a href="/post/<%= post._id  %>">
                        <span><%= post.title %></span>
                        <span class="article-list__data"><%= post.createdAt.toDateString() %></span>
                    </a>

                </li>

                <% }) %>

        </ul>
        <% if(nextPage !== null){ %>
            <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>

            <% } %>
    </section> -->