<div class="displayProject">
    <h1>
        <%= data.title  %>

    </h1>
    <a class="projectLink" href="<%=data.githubAddress  %>">githubLink &nearr;</a>
    <p>
        <%= data.body %>
    </p>
    <img class="projectImage" src="<%=data.imageURL  %>" alt="img">

</div>